<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style media="screen">
      /* We don't need checkbox to be displayed in order for it to work */
      .toggler {
        display: none;
      }

      /* Below are all the functionalities */

      /* Hamburger changes to X when toggler is checked */
      .navbar .toggler:checked + .navbar-brand .burger span:nth-child(1) {
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
      }
      .navbar .toggler:checked + .navbar-brand .burger span:nth-child(2) {
        opacity: 0;
      }
      .navbar .toggler:checked + .navbar-brand .burger span:nth-child(3) {
        -webkit-transform: translateY(-5px) rotate(-45deg);
        transform: translateY(-5px) rotate(-45deg);
      }

      /*  Displays menu when toggler is checked only on mobile/tablet */
      @media screen and (max-width: 1024px) {
        .navbar .toggler:checked ~ .navbar-menu {
          display: block;
        }
        /* We don't want menu to be displayed on mobile by default */
        .navbar-menu {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <!-- code I used in this example made by https://github.com/hanscees -->

      <section class="hero is-info is-medium">
        <div class="hero-head">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
              <input type="checkbox" id="toggler" class="toggler" /> <!-- for toggling functionality. Should be at the same level as navbar-menu -->
              <div class="navbar-brand"> <!-- left side of bulma navbar -->
                <p class="navbar-item">MyBlog</p>
                <label for="toggler" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </label>
              </div> <!-- end of left side of bulma navbar -->
              <div id="navbarBasicExample" class="navbar-menu" ><!-- dont shown on mobile -->
                <div class="navbar-end"><!-- left on big screen -->

                  <%= link_to "Home", root_path, class:"navbar-item" %>
                  <%= link_to "Create Post", new_post_path, class:"navbar-item" %>

             </div><!-- end navbar-start-->
            </div>
          </nav>
        </div>
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              <%= yield :page_title %>
            </h1>
          </div>
        </div>
      </section>

    <%= yield %>
  </body>
</html>
